<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-wallet"></i></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Saldo disponível</span>
            <span class="info-box-number"><%= concatenate_brazilian_real_sign(balance) %></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-chart-line"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Receitas</span>
            <span class="info-box-number"><%= concatenate_brazilian_real_sign(revenue) %></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-balance-scale-right"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Despesas</span>
            <span class="info-box-number"><%= concatenate_brazilian_real_sign(expenses) %></span>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="far fa-credit-card"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Limite disponível</span>
            <span class="info-box-number"><%= concatenate_brazilian_real_sign(available_credit_limit) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    
  </div>
</section>