@import url("https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url("https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");

body:not(.layout-fixed) {
  .main-sidebar {
    height: 100vh;
  }
}

.nav-link.active {
  background-color: #3f6791 !important;
}

.wrapper {
  background-color: #f4f6f9;
}

.flash-messages {
  margin: 1rem 1rem 0rem;
}

.alert {
  margin-bottom: 0;
}