@import url("https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css");
@import url("https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import "bootstrap";

.pagy-bootstrap-nav > ul {
  margin-block-end: 0 !important;
}

.card-body {
  padding: 0.9rem !important;
}