@import url("https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css");
@import url("https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import "bootstrap";

.nav-link.active {
  background-color: #3f6791 !important;
}

.pagy-bootstrap-nav > ul {
  margin-block-end: 0 !important;
}

.card-body {
  padding: 0.9rem !important;
}

.main-header {
  padding: .5rem;
}

.navbar-expand .navbar-nav .nav-link {
  padding: .5rem 1rem;
}

a {
  text-decoration: none;
}

.wrapper {
  background-color: #f4f6f9;
}

.flash-messages {
  margin: 1rem 1rem 0rem;
}

.alert {
  margin-bottom: 0;
}

td > form {
  display: inline-block;
}

td > form > button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  width: 2.2rem;
  height: 2.2rem;
}

.card-footer > .row > * {
  width: auto;
}