<div class="row" id="transaction-item">
  <div class="col-md-8">
    <div class="form-group">
      <%= f.text_field :description, class: 'form-select', id: 'item-description', placeholder: 'Descrição' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :value, class: 'form-control', id: 'item-value', placeholder: 'Valor' %>
    </div>
  </div>
</div>