<div class="row" id="transaction-item">
  <div class="col-md-8">
    <div class="form-group">
      <%= f.input :description, label: false, input_html: { class: 'form-control', id: 'item-description', placeholder: 'Descrição' } %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.input :value, label: false, input_html: { class: 'form-control', id: 'item-value', placeholder: 'Valor' } %>
    </div>
  </div>
</div>